td {
    background-color: #D0D0D0;
}
#prevButton {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 50px;
    height: 50px;
}
#dayH{
    position: absolute;
    top: 25px;
    left: 300px;
    color: #FFF;
}
#nextButton{
    position: absolute;
    top: 25px;
    left: 850px;
    width: 50px;
    height: 50px;
}
div.shows{
    position: absolute;
    top: 110px;
}
.time{
    width: 150px;
    height: 100px;
}
.showData{
    width: 840px;
}
table{
    empty-cells: hide;
}
.nav{
    background-color: #120650;
    width: 940px;
    height: 100px;
}
